.restaurant-menu-con {
  margin-top: 10px;
}
.restaurant-menu-head {
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  justify-content: space-evenly;
}
.restaurant-menu-head {
  font-size: 1.43rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.restaurant-menu-c2 {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 18px;
  height: 50px;
}

.restaurant-menu-cuisines {
  color: #7e808c;
  font-size: 0.93rem;
}
.restaurant-menu-rating {
  color: #3d9b6d;
  font-size: 15px;
  text-align: center;
  margin: 2px;
}
.restaurant-menu-reviews {
  color: #7e808c;
  font-size: 15px;
  margin: 5px;
}

.res-list {
  font-size: 1.22rem;
  color: #3e4152;
  font-weight: 500;
}
